/* @import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap"); */
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.text-effect {
  block-size: 100%;
}

.text-effect h1 {
  transform: skew(0, -10deg);
  order: 2;
  color: #FAF7F8;
  font-weight: 900;
  text-transform: uppercase;
  /* font-size: clamp(3rem, 10vw, 6rem); */
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #8794a5, 2px 2px 1px #0b2449, 4px 2px 1px #8794a5, 4px 3px 1px #0b2449, 5px 3px 1px #8794a5, 4px 4px 1px #0b2449, 6px 4px 1px #8794a5, 5px 5px 1px #0b2449, 7px 5px 1px #8794a5, 6px 6px 1px #0b2449, 8px 6px 1px #8794a5, 7px 7px 1px #0b2447, 9px 7px 1px #8794a5;
}

.text-effect span {
  display: block;
  position: relative;
}

.text-effect span:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    text-shadow: 2px 2px 1px #0b2449, -1px -1px 1px #8794a5, -2px 2px 1px #d6b6ba, 1px -1px 1px #faf7f8;
    z-index: 1;
  }
.text-effect {
  scroll-snap-align: start;
  scroll-snap-stop: always;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text-effect-container {
  scroll-snap-type: y mandatory;
  overflow: auto;
}

.text-effect-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.text-effect-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}