/* @import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap"); */
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.text-effect {
  block-size: 100%;
}

.text-effect h1 {
  transform: skew(0, -10deg);
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  /* font-size: clamp(3rem, 10vw, 6rem); */
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;
}

.text-effect span {
  display: block;
  position: relative;
}

/* .text-effect span:before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9, -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
    z-index: 1;
  } */
.text-effect {
  scroll-snap-align: start;
  scroll-snap-stop: always;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text-effect-container {
  scroll-snap-type: y mandatory;
  overflow: auto;
}

.text-effect-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.text-effect-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}